blueprint.json
{
  "scenarios": [
    {
      "name": "RSS and Web Scraping to Articles with Hugging Face",
      "description": "Extract titles and summaries from RSS feeds and web pages (e.g., diariopanorama.com, nuevodiarioweb.com), rewrite articles with illustrative images using Hugging Face, and send to Supabase articles table via HTTP POST. Each article includes title, summary, photo, and content.",
      "author": "Generated by Copilot",
      "version": "1.0",
      "variables": [
        {
          "name": "supabase_url",
          "type": "string",
          "value": "https://eafpqpfzadpyhmidjwff.supabase.co"
        },
        {
          "name": "supabase_api_key",
          "type": "string",
          "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhZnBxcGZ6YWRweWhtaWRqd2ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMTM1ODQsImV4cCI6MjA3NTg4OTU4NH0.aT2K4eyMNzoZ3BbLUwPIa6XcJogOU2SSU5ySYe2xdRI"
        },
        {
          "name": "huggingface_api_key",
          "type": "string",
          "value": "YOUR_HUGGINGFACE_API_KEY"
        },
        {
          "name": "rss_feed_url_1",
          "type": "string",
          "value": "https://diariopanorama.com/feed/"
        },
        {
          "name": "rss_feed_url_2",
          "type": "string",
          "value": "https://nuevodiarioweb.com/feed/"
        },
        {
          "name": "web_page_url_1",
          "type": "string",
          "value": "https://diariopanorama.com/some-article"
        },
        {
          "name": "web_page_url_2",
          "type": "string",
          "value": "https://nuevodiarioweb.com/some-article"
        }
      ],
      "flow": [
        {
          "id": 1,
          "module": "schedule:run",
          "version": 1,
          "parameters": {
            "interval": 3600
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 0,
              "y": 150
            }
          }
        },
        {
          "id": 2,
          "module": "rss:watchFeedItems",
          "version": 1,
          "parameters": {
            "url": "{{rss_feed_url_1}}"
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 100,
              "y": 100
            }
          }
        },
        {
          "id": 3,
          "module": "rss:watchFeedItems",
          "version": 1,
          "parameters": {
            "url": "{{rss_feed_url_2}}"
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 100,
              "y": 200
            }
          }
        },
        {
          "id": 4,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "{{web_page_url_1}}",
            "method": "GET"
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 300,
              "y": 100
            }
          }
        },
        {
          "id": 5,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "{{web_page_url_2}}",
            "method": "GET"
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 300,
              "y": 200
            }
          }
        },
        {
          "id": 6,
          "module": "html:parseHtml",
          "version": 1,
          "parameters": {
            "html": "{{4.data}}",
            "selectors": {
              "title": "h1",
              "summary": ".summary"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 500,
              "y": 100
            }
          }
        },
        {
          "id": 7,
          "module": "html:parseHtml",
          "version": 1,
          "parameters": {
            "html": "{{5.data}}",
            "selectors": {
              "title": "h1",
              "summary": ".summary"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 500,
              "y": 200
            }
          }
        },
        {
          "id": 8,
          "module": "util:setMultipleVariables",
          "version": 1,
          "parameters": {
            "variables": [
              {
                "name": "article_title",
                "value": "{{2.title}}"
              },
              {
                "name": "article_summary",
                "value": "{{2.description}}"
              }
            ]
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 300,
              "y": 100
            }
          }
        },
        {
          "id": 9,
          "module": "util:setMultipleVariables",
          "version": 1,
          "parameters": {
            "variables": [
              {
                "name": "article_title",
                "value": "{{3.title}}"
              },
              {
                "name": "article_summary",
                "value": "{{3.description}}"
              }
            ]
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 300,
              "y": 200
            }
          }
        },
        {
          "id": 10,
          "module": "huggingface:runInference",
          "version": 1,
          "parameters": {
            "apiKey": "{{huggingface_api_key}}",
            "model": "gpt2",
            "inputs": "Rewrite this article with title '{{article_title}}' and summary '{{article_summary}}' into a full article."
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 900,
              "y": 100
            }
          }
        },
        {
          "id": 11,
          "module": "huggingface:runInference",
          "version": 1,
          "parameters": {
            "apiKey": "{{huggingface_api_key}}",
            "model": "gpt2",
            "inputs": "Rewrite this article with title '{{article_title}}' and summary '{{article_summary}}' into a full article."
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 900,
              "y": 200
            }
          }
        },
        {
          "id": 12,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "https://api-inference.huggingface.co/models/CompVis/stable-diffusion-v1-4",
            "method": "POST",
            "headers": {
              "Authorization": "Bearer {{huggingface_api_key}}",
              "Content-Type": "application/json"
            },
            "body": {
              "inputs": "Illustrative image for article: {{article_title}}"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 1100,
              "y": 100
            }
          }
        },
        {
          "id": 13,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "https://api-inference.huggingface.co/models/CompVis/stable-diffusion-v1-4",
            "method": "POST",
            "headers": {
              "Authorization": "Bearer {{huggingface_api_key}}",
              "Content-Type": "application/json"
            },
            "body": {
              "inputs": "Illustrative image for article: {{article_title}}"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 1100,
              "y": 200
            }
          }
        },
        {
          "id": 14,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "{{supabase_url}}/rest/v1/articles",
            "method": "POST",
            "headers": {
              "apikey": "{{supabase_api_key}}",
              "Authorization": "Bearer {{supabase_api_key}}",
              "Content-Type": "application/json"
            },
            "body": {
              "title": "{{article_title}}",
              "summary": "{{article_summary}}",
              "content": "{{10.output}}",
              "photo": "{{12.data}}"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 1300,
              "y": 100
            }
          }
        },
        {
          "id": 15,
          "module": "http:makeRequest",
          "version": 1,
          "parameters": {
            "url": "{{supabase_url}}/rest/v1/articles",
            "method": "POST",
            "headers": {
              "apikey": "{{supabase_api_key}}",
              "Authorization": "Bearer {{supabase_api_key}}",
              "Content-Type": "application/json"
            },
            "body": {
              "title": "{{article_title}}",
              "summary": "{{article_summary}}",
              "content": "{{11.output}}",
              "photo": "{{13.data}}"
            }
          },
          "mapper": {},
          "metadata": {
            "designer": {
              "x": 1300,
              "y": 200
            }
          }
        }
      ]
    }
  ]
}